.container
{
    background-color: blueviolet;
    /* width: 300px; */
    height: auto;
    display: flex;
    /* row row-reverse column column-reverse */
    /* flex-direction: column-reverse; */
 
    /* wrap, wrap-reverse, no reverse */
    /* flex-wrap: wrap-reverse; */
    flex-wrap:wrap;
    /* horizontal alignment */
    /* left,center, right, space evenly,space around, space between */
    /* justify-content: space-between;
     /* flex-start, flex end, center strech( it is a default property) */
    align-items: center;




}
.box
{
    border: 1px solid black;
    background-color: blue;
    margin: 1px;
    height: 100px;
    width: 100px;

}
/* flex grow( cover up the container background) */
#box1
{
    flex-grow: 1;
    
    background-image: url(../img/download.jpeg);

}
#box2
{
    flex-grow: 5;
}
#box3
{
    
}
#box4
{
    
    background-image: url(../img/download.jpeg);


}
