.para
{
    background-color: aqua;
    font-size: 28px;
    color: darkkhaki;
    width: 400px;
   
      font-family:
}
      

#para1{
    word-spacing: 3px;
}
#para2{
    text-align: right;
    letter-spacing:2px;
}
#para4{
    text-align: center;
    line-height: 100px;
}
#para3{
    text-align: justify;
    
}
    /* text decoration is used unline, overline, overthrough */

    /* border default is solid but they have dotted,dash, double */

        /* underline is a type of line , double is a type of underline
         2px is width of ul
        red is color
         */
h1{
    text-decoration: 1px line-through double blue;
}
/* font weight has 2 value narmal and bold */
#para5
{
    font-weight: bold;
}
#para6
{
    font-style: italic;
}